@model IEnumerable<LibreriaProgra.Models.Contacto>

<h2>Lista Contactos</h2>

<p>
    <a asp-action="Index">Create</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.autor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.imagen)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
            <img src="~/img/@item.imagen" alt="@item.imagen" width="100" height="150">

            </td>
        </tr>
    }        
    </tbody>    
</table>
