@model IEnumerable<LibreriaProgra.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<h2>Lista Libros</h2>

<p>
    <button class="btn btn-primary"class="btn btn-success" onclick="window.location='@Url.Action("Index", "Producto")'">Registrar</button>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.autor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.imagen)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>| 
                <a asp-action="Delete" asp-route-id="@item.ID" id="delete">Delete</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
            <img src="~/img/books/@item.imagen" alt="@item.imagen" width="100" height="150">

            </td>

        </tr>
    }        
    </tbody>    
</table>


@if ((String)TempData["prueba"] == "prueba01")
{
    <input value="hola" id="hola01" type="hidden">
}

@if ((String)TempData["prueba02"] == "prueba02") 
{
    <input value="hola" id="prueba02" type="hidden">
}

    <script>
        
        var x = document.getElementById('hola01').value;

        if(x == "hola") {
        
            Swal.fire(
                'Registro exitoso',
                'El libro ha sido registrado exitosamente',
                'success'
            )
  
        }

       

    </script>

   <script>
        
        var y = document.getElementById('prueba02').value;

        if(y == "hola") {

            Swal.fire(
                'Editado correctamente',
                'El libro se ha editado correctamente',
                'success'
            )
        }
   </script> 

